.axis path,
.axis line {
  display: none;
}

.y-grid .domain,
.y-grid .tick {
  shape-rendering: crispEdges;
}

/*
.container-fluid {
  position: relative;
  top: -55px;
  padding-right: none !important;
  padding-left: none !important;
}
*/